.header {
 display: flex;
 justify-content: space-between;
 border: 1px solid black;
}

.logo {
    width: 200px;
}

.nav-items {
    padding: 10px;
}
.nav-items > ul {
 display: flex;
}

.nav-items >ul >li {
    padding: 10px;
    margin :10px;
    list-style-type: none;
    font-size: 24px Bold;
}

.res-card {
   margin:5px;
    padding :5px;
    width: 200px;
    cursor: pointer;
    border: 2px solid black;
   
   
}

.res-container {
    display: flex;
    flex-wrap: wrap;
}


.res-logo {
    width: 100%
}

.shim-container {
    display: flex;
}
.shimmer-card {
    margin: 200px;
    width :200px;
    height: 400px;
    background-color: #f0f0f0;
}

.filter {
    padding: 5px;
  
    
}
.filter-res :hover {
    cursor: pointer;
}
